{% extends 'base.html.twig' %}

{% block title %}Feeds{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('feed') }}
{% endblock %}
{% block navigation %}
    <div class="container-full">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{{url('feed')}}">home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    {% for key, link in links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url(link)}}">{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}



{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('feed') }}
{% endblock %}
{% endblock %}