{% extends 'feed/index.html.twig' %}

{% block title %}Hello AllFeedsController!{% endblock %}

{% block body %}
{% set get = '?url=' %}
    <div class="p-5">

    <ul class="list-group" id="list">
        {% for feed in feeds %}
            <li class="list-group-item list-group-item-action" id="row">
                <a href=" {{url('read_feed') ~ get ~  feed.link }}" class="  ">
                    <div class="d-flex w-80 justify-content-between">
                        <h5>{{ feed.name }}</h5>
                    </div>
                </a>
                <div>
                    <form class='' action='{{ url('feed_edit') }}' method='post'>
                        <input type='hidden' name= 'id' value= '{{ feed.id }}'>
                        <input type='hidden' name= 'backTrace' value= '{{ app.request.pathinfo }}'>
                        <button  class='btn btn-warning ' name='decision' value='edit' >zmen meno feedu</button>
                        <button  class='btn btn-success ' name='decision' value='favorite' >pridaj do oblubene</button>
                        <button class='btn btn-danger ' name='decision' value='delete' >zmaz feed</button>
                    </form>
                </div>
             </li>
        {% endfor %}
    </ul>
</div>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
